<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="debug" strict="true" name="XMLConfigTest"
               packages="org.apache.logging.log4j.myLog4j2">
    <Properties>
        <Property name="filePath">../logs/redis/</Property>
    </Properties>
    <Filter type="ThresholdFilter" level="trace"/>

    <Appenders>
        <!--控制台显示的日志模式-->
        <Appender type="Console" name="STDOUT">
            <Layout type="PatternLayout" pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %class{36} %L %M - %msg%xEx%n"/>
            <!--
                %d{yyyy-MM-dd HH:mm:ss, SSS} : 日志生产时间
                %p : 日志输出格式
                %c : logger的名称
                %m : 日志内容，即 logger.info("message")
                %n : 换行符
                %C : Java类名
                %L : 日志输出所在行数
                %M : 日志输出所在方法名
                hostName : 本地机器名
                hostAddress : 本地ip地址
             -->
            <Filters>
                <Filter type="MarkerFilter" marker="FLOW" onMatch="NEUTRAL" onMismatch="NEUTRAL"/>
                <Filter type="MarkerFilter" marker="EXCEPTION" onMatch="ACCEPT" onMismatch="NEUTRAL"/>
            </Filters>
        </Appender>
        <Appender type="Console" name="FLOW">
            <Layout type="PatternLayout" pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %class{36} %L %M -- %msg%xEx%n"/>
            <!-- class and line number -->
            <Filters>
                <Filter type="MarkerFilter" marker="FLOW" onMatch="ACCEPT" onMismatch="NEUTRAL"/>
                <Filter type="MarkerFilter" marker="EXCEPTION" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
        </Appender>

        <!--文件写入日志的模式-->
        <File name="File" fileName="${filePath}redis.log">
            <BurstFilter level="info" rate="16" maxBurst="100"/>
            <PatternLayout>
                <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %class{36} %L %M - %msg%xEx%n</pattern>
            </PatternLayout>
        </File>

        <!--日志压缩模式-->
        <RollingFile name="RollingFile" fileName="${filePath}/roll/redis.log"
                     filePattern="${filePath}/redis.log.%d{yyyy-MM-dd}.log.gz">
            <BurstFilter level="INFO" rate="16" maxBurst="100"/>
            <PatternLayout>
                <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %class{36} %L %M - %msg%xEx%n</pattern>
            </PatternLayout>
            <TimeBasedTriggeringPolicy modulate="true" interval="24"/>
            <SizeBasedTriggeringPolicy size="50MB"/>
        </RollingFile>

        <Appender type="List" name="List">
        </Appender>
    </Appenders>

    <Loggers>

        <Root level="debug">
            <AppenderRef ref="STDOUT"/>
            <AppenderRef ref="File"/>
            <AppenderRef ref="RollingFile"/>
        </Root>

        <logger name="org.springframework*" level="info"/>
        <logger name="com.mchange" level="info"/>
        <logger name="com.alibaba.druid.pool.PreparedStatementPool" level="info"/>
        <logger name="com.phicomm.mobile.redis*" level="debug"/>
        <logger name="org.apache" level="info"/>

        <!-- 日志实例(error),通过属性'additivity来控制日志该日志使用的 Appender-->
        <logger name="com.phicomm.mobile.redis*" level="info" includeLocation="true" additivity="true">
            <AppenderRef ref="File"/>
            <AppenderRef ref="RollingFile"/>
        </logger>

        <!-- 日志实例(error) -->
        <logger name="org.*" level="info" includeLocation="true" additivity="true">
            <AppenderRef ref="File"/>
            <AppenderRef ref="RollingFile"/>
        </logger>
    </Loggers>

</Configuration>