<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="debug" strict="true" name="XMLConfigTest"
               packages="org.apache.logging.log4j.myLog4j2">
    <Properties>
        <Property name="filePath">../logs/redis/</Property>
    </Properties>
    <Filter type="ThresholdFilter" level="trace"/>

    <Appenders>
        <Appender type="Console" name="STDOUT">
            <Layout type="PatternLayout" pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %class{36} %L %M - %msg%xEx%n"/>
            <Filters>
                <Filter type="MarkerFilter" marker="FLOW" onMatch="NEUTRAL" onMismatch="NEUTRAL"/>
                <Filter type="MarkerFilter" marker="EXCEPTION" onMatch="ACCEPT" onMismatch="NEUTRAL"/>
            </Filters>
        </Appender>

        <Appender type="Console" name="FLOW">
            <Layout type="PatternLayout" pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %class{36} %L %M -- %msg%xEx%n"/>
            <!-- class and line number -->
            <Filters>
                <Filter type="MarkerFilter" marker="FLOW" onMatch="ACCEPT" onMismatch="NEUTRAL"/>
                <Filter type="MarkerFilter" marker="EXCEPTION" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
        </Appender>

        <File name="File" fileName="${filePath}redis.log">
            <BurstFilter level="info" rate="16" maxBurst="100"/>
            <PatternLayout>
                <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %class{36} %L %M - %msg%xEx%n</pattern>
            </PatternLayout>
        </File>

        <RollingFile name="RollingFile" fileName="${filePath}redis.log"
                     filePattern="${filePath}/redis.log.%d{yyyy-MM-dd}.log.gz">
            <BurstFilter level="INFO" rate="16" maxBurst="100"/>
            <PatternLayout>
                <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %class{36} %L %M - %msg%xEx%n</pattern>
            </PatternLayout>
            <TimeBasedTriggeringPolicy modulate="true" interval="24"/>
            <SizeBasedTriggeringPolicy size="50MB"/>
        </RollingFile>

        <Appender type="List" name="List">
        </Appender>
    </Appenders>

    <Loggers>

        <Root level="info">
            <AppenderRef ref="STDOUT"/>
            <AppenderRef ref="RollingFile"/>
        </Root>

        <logger name="org.springframework*" level="info"/>
        <logger name="com.mchange" level="info"/>
        <logger name="com.alibaba.druid.pool.PreparedStatementPool" level="info"/>
        <logger name="com.phicomm" level="debug"/>
        <logger name="org.apache" level="info"/>

        <!-- 日志实例(error),通过属性'additivity来控制日志该日志使用的 Appender-->
        <logger name="com.phicomm.mobile.redis*" level="info" includeLocation="true" additivity="true">
            <AppenderRef ref="RollingFile"/>
        </logger>

        <!-- 日志实例(error) -->
        <logger name="org.*" level="info" includeLocation="true" additivity="true">
            <AppenderRef ref="RollingFile"/>
        </logger>
    </Loggers>

</Configuration>